.rank-green { background-color: green; color: white; }
.rank-lightgreen { background-color: lightgreen; }
.rank-yellow { background-color: yellow; }
.rank-orange { background-color: orange; }
.rank-red { background-color: red; }
